DATABASE_URL=postgresql://postgres:postgres@localhost:5432/todo_db

REDIS_URL=redis://localhost:6379

JWT_SECRET=
JWT_REFRESH_SECRET=

SWAGGER_USER=                                                                                                                                                                                           
SWAGGER_PASSWORD=

CLIENT_URL=http://localhost:5173
